::-webkit-scrollbar {
    display: none;
}

#first{
    background-image: url('../images/wlp.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

#second{
    background-image: url('https://i.pinimg.com/originals/0a/99/36/0a9936a5e560ca135d9ae4c67588f192.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}


.nav-transparent{
    background-color: transparent;
    transition: all 500ms;
}

.nav-colored{
    background-color: #18181eab;
    transition: all 500ms;
}
#profile-login{
    margin-top: 8rem;
    padding-top: .75rem;
    height: 52vh;
    background-color: #18181eab;
    box-shadow: 0 3px 5px;
}